In [30]:
import os
import pandas as pd 
import numpy as np

In [31]:
def count_performance_rows():
    PROCESSED_DIR = "/home/seb/Documents/prepayment/processed/"
    foreclosure_counts={}
    # read data from files
    # NOTE: Opening a file handler to read rather than Pandas.
    # Reason : We want to re
    with open(os.path.join(PROCESSED_DIR,"Performance.csv"),"r") as f:
        for i,line in enumerate(f):
            if i==0:
                continue
            loan_id,date=line.split(",")
            loan_id=int(loan_id)
            if loan_id not in foreclosure_counts:
                foreclosure_counts[loan_id]= {
                    "foreclosure_status": False,
                    "performance_count": 0
                } # initialize dict

            foreclosure_counts[loan_id]["performance_count"]+=1
            if len(date.strip())>0:
                foreclosure_counts[loan_id]["foreclosure_status"]=True
    return foreclosure_counts

In [32]:
def get_summary_of_performance(loan_id,key,foreclosure_count_dictionary):
    #The get method on dictionaries returns a default value if a key isnâ€™t found.
    summary_value=foreclosure_count_dictionary.get(loan_id,{ 
        "foreclosure_status": False,
        "performance_count": 0
        })
    return summary_value[key]

In [33]:
def data_transform(acquisition,counts):
    MINIMUM_TRACKING_QUARTERS=2
    # add "foreclosure_status" column in acquisition dataframe by getting the values from the counts dictionary
    acquisition["foreclosure_status"]=acquisition["id"].apply(lambda x: get_summary_of_performance(x,"foreclosure_status",counts))

    # add "performance_count" column in acquisition dataframe by getting the values from the counts dictionary.
    acquisition["performance_count"]=acquisition["id"].apply(lambda x: get_summary_of_performance(x,"performance_count",counts))

    # convert date values - "first_payment_date" and "origination_date"
    for date in ["origination"]:
        cols="{}_date".format(date)
        acquisition["{}_month".format(date)]= pd.to_numeric(acquisition[cols].str.split('/').str.get(0))
        acquisition["{}_year".format(date)] = pd.to_numeric(acquisition[cols].str.split('/').str.get(1))

    acquisition = acquisition.fillna(-1)
    acquisition = acquisition[acquisition["performance_count"] > MINIMUM_TRACKING_QUARTERS]
    return acquisition

In [34]:
def read():
    PROCESSED_DIR = "/home/seb/Documents/prepayment/processed/"
    acquisition = pd.read_csv(os.path.join(PROCESSED_DIR, "Acquisition.csv"))
    return acquisition

In [35]:
def write(acquisition):
    PROCESSED_DIR = "/home/seb/Documents/prepayment/processed/"
    acquisition.to_csv(os.path.join(PROCESSED_DIR, "train.csv"),index=False)

In [36]:
acquisition=read()
counts=count_performance_rows()
acquisition=data_transform(acquisition,counts)
write(acquisition)

In [37]:
file = '/home/seb/Documents/prepayment/processed/train.csv'
df=pd.read_csv(file)
print(df)

                   id  interest_rate origination_date  ltv   dti  \
0        100000506220          4.750          02/2014   80  40.0
1        100006392566          3.500          01/2014   68  35.0
2        100007679737          5.000          02/2014   80  31.0
3        100008410787          4.375          12/2013   80  27.0
4        100009360302          5.250          01/2014   80  38.0
5        100013156268          4.625          01/2014   78  33.0
6        100014615428          4.875          02/2014   80  44.0
7        100018134297          4.375          12/2013   80  34.0
8        100018812676          4.375          02/2014   49  18.0
9        100023715413          5.000          01/2014   95  45.0
10       100024428873          4.500          11/2013   62  34.0
11       100029809089          4.500          01/2014   95  35.0
12       100032422945          3.875          01/2014   79  42.0
13       100033144008          5.125          01/2014   80  23.0
14       100037514110          4.500          02/2014   75  22.0
15       100038767840          4.625          02/2014   95  45.0
16       100041794880          4.625          01/2014   79  32.0
17       100044671015          4.375          12/2013   80  48.0
18       100045268636          4.500          01/2014   80  38.0
19       100051808276          4.375          12/2013   80  29.0
20       100053110379          4.625          01/2014   80  34.0
21       100063209542          4.875          12/2013   64  47.0
22       100063585030          4.313          02/2014   74  29.0
23       100065939760          4.375          11/2013   90  20.0
24       100068982783          4.750          01/2014   95  35.0
25       100074726334          4.625          12/2013   72  44.0
26       100075014104          3.000          12/2013   59  13.0
27       100082978071          4.500          01/2014   85  37.0
28       100086913554          4.875          12/2013   46  37.0
29       100088092726          4.875          12/2013   54  42.0
...               ...            ...              ...  ...   ...
3780232  999962303722          3.250          01/2013   62  29.0
3780233  999964585043          2.875          11/2012   73  23.0
3780234  999965422664          3.250          01/2013   47  34.0
3780235  999965809733          2.875          01/2013   78  12.0
3780236  999966510251          3.625          01/2013   80  32.0
3780237  999967255987          2.500          12/2012   80  34.0
3780238  999969318441          3.375          01/2013   80  48.0
3780239  999969573109          3.750          01/2013   80  40.0
3780240  999971374977          3.500          11/2012   80  29.0
3780241  999971736659          3.500          01/2013   90  16.0
3780242  999973484851          4.875          08/2012   80  34.0
3780243  999975408914          3.500          01/2013   90  29.0
3780244  999977475487          3.375          01/2013   90  44.0
3780245  999980017188          3.375          12/2012   90  24.0
3780246  999980406472          3.500          12/2012   69  19.0
3780247  999981369903          2.750          01/2013   80  32.0
3780248  999982523514          2.500          02/2013   44  15.0
3780249  999983064032          3.875          03/2013   86  39.0
3780250  999987208061          3.375          01/2013   28  41.0
3780251  999988334586          2.750          12/2012   65  33.0
3780252  999988635294          3.375          02/2013   80  27.0
3780253  999990472291          3.375          03/2013   70  44.0
3780254  999991989874          3.125          12/2012   80  15.0
3780255  999996106362          3.000          01/2013   79  39.0
3780256  999997337661          3.125          02/2013   37  27.0
3780257  999997968364          3.750          02/2013   90  20.0
3780258  999998408873          3.750          01/2013   60  23.0
3780259  999998760873          3.625          03/2013   56  37.0
3780260  999999088860          3.625          03/2013   75  31.0
3780261  999999606976          3.625          01/2013   75  40.0

         credit_score  foreclosure_status  performance_count  \
0               710.0               False                 32
1               742.0               False                 55
2               647.0               False                 41
3               774.0               False                 24
4               820.0               False                 45
5               656.0               False                 44
6               756.0               False                  6
7               808.0               False                 56
8               779.0               False                 10
9               780.0               False                 23
10              727.0               False                 55
11              787.0               False                 16
12              811.0               False                 56
13              793.0               False                  9
14              793.0               False                 43
15              741.0               False                 55
16              753.0               False                 56
17              788.0               False                 57
18              783.0               False                 36
19              791.0               False                 56
20              726.0               False                 55
21              745.0               False                 16
22              773.0               False                 29
23              762.0               False                 57
24              796.0               False                 10
25              770.0               False                 20
26              797.0               False                 57
27              739.0               False                 31
28              704.0               False                 24
29              705.0               False                 27
...               ...                 ...                ...
3780232         790.0               False                 68
3780233         767.0               False                 69
3780234         709.0               False                 69
3780235         734.0               False                 67
3780236         793.0               False                 68
3780237         800.0               False                 69
3780238         790.0               False                 68
3780239         778.0               False                 33
3780240         729.0               False                 49
3780241         811.0               False                 14
3780242         706.0               False                 68
3780243         740.0               False                 67
3780244         747.0               False                 63
3780245         793.0               False                 69
3780246         792.0               False                 67
3780247         808.0               False                 47
3780248         771.0               False                 47
3780249         684.0               False                 67
3780250         795.0               False                 68
3780251         725.0               False                 27
3780252         774.0               False                 67
3780253         801.0               False                 41
3780254         786.0               False                 42
3780255         757.0               False                 69
3780256         789.0               False                 59
3780257         795.0               False                 67
3780258         723.0               False                 67
3780259         761.0               False                 67
3780260         802.0               False                 67
3780261         775.0               False                 68

         origination_month  origination_year
0                        2              2014
1                        1              2014
2                        2              2014
3                       12              2013
4                        1              2014
5                        1              2014
6                        2              2014
7                       12              2013
8                        2              2014
9                        1              2014
10                      11              2013
11                       1              2014
12                       1              2014
13                       1              2014
14                       2              2014
15                       2              2014
16                       1              2014
17                      12              2013
18                       1              2014
19                      12              2013
20                       1              2014
21                      12              2013
22                       2              2014
23                      11              2013
24                       1              2014
25                      12              2013
26                      12              2013
27                       1              2014
28                      12              2013
29                      12              2013
...                    ...               ...
3780232                  1              2013
3780233                 11              2012
3780234                  1              2013
3780235                  1              2013
3780236                  1              2013
3780237                 12              2012
3780238                  1              2013
3780239                  1              2013
3780240                 11              2012
3780241                  1              2013
3780242                  8              2012
3780243                  1              2013
3780244                  1              2013
3780245                 12              2012
3780246                 12              2012
3780247                  1              2013
3780248                  2              2013
3780249                  3              2013
3780250                  1              2013
3780251                 12              2012
3780252                  2              2013
3780253                  3              2013
3780254                 12              2012
3780255                  1              2013
3780256                  2              2013
3780257                  2              2013
3780258                  1              2013
3780259                  3              2013
3780260                  3              2013
3780261                  1              2013

[3780262 rows x 10 columns]

In [46]:
default_list = df["foreclosure_status"].tolist()

In [47]:
default_count= 0
for i in default_list:
    if i is True:
        default_count+= 1
print(default_count)

4229

In [48]:
4229 / 3780262

0.0011187055288760408